<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.SmbmsUserMapper">

    <resultMap id="BaseResultMap" type="com.yll.pojo.SmbmsUser">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="usercode" column="userCode" jdbcType="VARCHAR"/>
            <result property="username" column="userName" jdbcType="VARCHAR"/>
            <result property="userpassword" column="userPassword" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="INTEGER"/>
            <result property="birthday" column="birthday" jdbcType="DATE"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="userrole" column="userRole" jdbcType="INTEGER"/>
            <result property="createdby" column="createdBy" jdbcType="BIGINT"/>
            <result property="creationdate" column="creationDate" jdbcType="TIMESTAMP"/>
            <result property="modifyby" column="modifyBy" jdbcType="BIGINT"/>
            <result property="modifydate" column="modifyDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userCode,userName,
        userPassword,gender,birthday,
        phone,address,userRole,
        createdBy,creationDate,modifyBy,
        modifyDate
    </sql>
</mapper>
