<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.SmbmsRoleMapper">

    <resultMap id="BaseResultMap" type="com.yll.pojo.SmbmsRole">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="rolecode" column="roleCode" jdbcType="VARCHAR"/>
            <result property="rolename" column="roleName" jdbcType="VARCHAR"/>
            <result property="createdby" column="createdBy" jdbcType="BIGINT"/>
            <result property="creationdate" column="creationDate" jdbcType="TIMESTAMP"/>
            <result property="modifyby" column="modifyBy" jdbcType="BIGINT"/>
            <result property="modifydate" column="modifyDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,roleCode,roleName,
        createdBy,creationDate,modifyBy,
        modifyDate
    </sql>
</mapper>
