<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.SmbmsProviderMapper">

    <resultMap id="BaseResultMap" type="com.yll.pojo.SmbmsProvider">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="procode" column="proCode" jdbcType="VARCHAR"/>
            <result property="proname" column="proName" jdbcType="VARCHAR"/>
            <result property="prodesc" column="proDesc" jdbcType="VARCHAR"/>
            <result property="procontact" column="proContact" jdbcType="VARCHAR"/>
            <result property="prophone" column="proPhone" jdbcType="VARCHAR"/>
            <result property="proaddress" column="proAddress" jdbcType="VARCHAR"/>
            <result property="profax" column="proFax" jdbcType="VARCHAR"/>
            <result property="createdby" column="createdBy" jdbcType="BIGINT"/>
            <result property="creationdate" column="creationDate" jdbcType="TIMESTAMP"/>
            <result property="modifydate" column="modifyDate" jdbcType="TIMESTAMP"/>
            <result property="modifyby" column="modifyBy" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,proCode,proName,
        proDesc,proContact,proPhone,
        proAddress,proFax,createdBy,
        creationDate,modifyDate,modifyBy
    </sql>
</mapper>
